<section>
    <h2>Usernames</h2>
    <hr />
    <ul>
        <% usernames.forEach((user)=> { %>
            <li>
                <h3>
                    <%= user.username %>
                </h3>
            </li>
            <hr />
        <% }) %>
    </ul>
</section>