<form method="POST" action="/new">
    <h2>New Username</h2>
    <div>
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" placeholder="pumba123">
    </div>
    <div>
        <button type="submit">Post</button>
    </div>
    <div>
        <a href="/">Back to all users</a>
    </div>
</form>
 