<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
    <div>
        <strong><a href="/new">Add New Username</a></strong>
    </div>
    <%- include('../partials/allUsernamesSection') %>
</main>
